/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styles */
.header {
    background-color: #a43820;
    color: white;
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.header p {
    font-size: 18px;
    margin: 10px 0 0;
}

/* About Section Styles */
.about-section {
    padding: 40px;
    background-color: #fff;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1 1 60%;
    padding: 20px;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-text p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-text ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-text ul li {
    margin-bottom: 10px;
}

.about-image {
    flex: 1 1 40%;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.footer{
    margin-top: 0px !important;
}