.grid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#image{
    object-fit: contain;
    width: 60%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}
.text h1{
    color: #a43820;
}
.add{
    background-color: #a43820;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}
.case{
    display: flex;
    align-items: center;
    justify-content: center;
}
.disabled {
    cursor: not-allowed;
}

@media (min-width:320px) and (max-width:480px) {
    .grid{
        grid-template-columns: 1fr;
        padding-top: 50px;
    }
    #title{
        font-size: 1.5rem;
    }
    #cat{
        font-size: 1.3rem;
    }
    #price{
        font-size: 1.3rem;
    }
}